<div class="hero-page">
  <div class="wrapper">
    <div class="cover cover-left"></div>
    <div class="cover cover-right "></div>
  
    <div class="book">
      <!-- Profile Page -->
      <div class="book-page page-left">
        <div class="profile-page">
          <img src="profile_pic.jpg" alt="">
          <h1>Adithya Anil</h1>
          <h3>Web developer</h3>
          <div class="social-media">
            <a
              href="https://www.linkedin.com/in/adithya-anil-b919101b3?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i
                class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/unidreamerzz007"><i class='bx bxl-github'></i></a>
            <a href="https://x.com/2_dreamerzz"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.instagram.com/aadhisivapriyam/"><i class='bx bxl-instagram-alt'></i></a>
  
          </div>
          <p>
            Hi, I'm Adithya Anil, a passionate web developer specializing in front-end technologies and the MERN stack.
            With a strong focus on creating visually appealing and user-friendly interfaces, I aim to deliver seamless
            digital experiences.
          </p>
          <div class="btn-box">
            <a href="Adithya_Anil_Resume.pdf" class="btn" download>Download CV</a>

            <a href="#" class="btn contact-me">Contact Me</a>
          </div>
  
        </div>
      </div>
      <!-- page 1 & 2 -->
      <div  class=" book-page page-right turn" id="turn-1">
        <!-- page1-work experience -->
        <div class="page-front">
          <h1 class="title">Work Experience</h1>
          <div class="workeduc-box">
            <div class="workeduc-content">
              <span class="year"><i class='bx bxs-calendar'></i>2024</span>
              <h3>Web Developer Intern - Luminar Technolab</h3>
              <p>Engaged in hands-on training as a full-stack web developer, specializing in the MERN stack. Built
                dynamic web applications, developed backend RESTful APIs, and gained practical experience in front-end
                development.
                Skills used: HTML, CSS, JavaScript, React, Node.js.
              </p>
            </div>
  
            <div class="workeduc-content">
              <span class="year"><i class='bx bxs-calendar'></i>2023</span>
              <h3>Data Analyst Intern - OrisysIndia Consultancy Services</h3>
              <p>Applied Python fundamentals and utilized Numpy and Pandas for data analysis. Gained experience with SQL
                databases to handle and analyze large datasets effectively.
                Skills used: Python, SQL, Data Analysis.
              </p>
            </div>
  
            <div class="workeduc-content">
              <span class="year"><i class='bx bxs-calendar'></i>2022</span>
              <h3>Front-End Developer Intern - Keltron, Trivandrum</h3>
              <p>Developed foundational front-end development skills by creating clone web pages of Swiggy and Facebook.
                Skills used: HTML, CSS, JavaScript.
              </p>
            </div>
  
  
          </div>
          <span class="numberpage">1</span>
          <!--next button  -->
          <span class="nextprev-btn" data-page="turn-1">
            <i class='bx bx-chevron-right'></i>
          </span>
        </div>
  
        <!-- page2-{education} -->
        <div class="page-back">
          <h1 class="title">Education</h1>
  
          <div class="workeduc-box">
            <div class="workeduc-content">
              <span class="year"><i class='bx bxs-calendar'></i>2020-2024</span>
              <h3>B.Tech in Computer Science</h3>
              <p>Mar Baselios College of Engineering and Technology,Graduated with a CGPA of 7.2, specializing in
                software development and full-stack web technologies.
                Achievements: Served as the IEEE CS Society Chair, leading technical events and fostering innovation.
              </p>
            </div>
  
            <div class="workeduc-content">
              <span class="year"><i class='bx bxs-calendar'></i>2018-2020</span>
              <h3>Class XII</h3>
              <p>Kerala State Board,
                Secured 95.45%, recognized as the Department Topper, with a focus on mathematics and computer science.
              </p>
            </div>
  
            <div class="workeduc-content">
              <span class="year"><i class='bx bxs-calendar'></i>2018</span>
              <h3>Class X</h3>
              <p>Kerala State Board,
                Achieved 95%, showcasing consistent academic performance.Demonstrated early aptitude in problem-solving
                and analytical thinking.
              </p>
            </div>
  
  
          </div>
  
          <span class="numberpage">2</span>
          <!--prev button  -->
          <span class="nextprev-btn back" data-page="turn-1">
            <i class='bx bx-chevron-left'></i>
          </span>
        </div>
  
      </div>
  
      <!-- page 3 & 4 -->
      <div class="book-page page-right turn " id="turn-2">
        <!-- //page3:my services -->
        <div class="page-front">
          <h1 class="title">My Services</h1>
  
          <div class="services-box">
            <div class="services-content">
              <i class='bx bx-code'></i>
              <h3>Web Development</h3>
              <p>Building complete web solutions, combining responsive front-end designs with efficient back-end systems
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
  
            <div class="services-content">
              <i class='bx bx-paint'></i>
              <h3>Front-End</h3>
              <p>Designing interactive and visually appealing user interfaces using HTML, CSS, JavaScript, and React.
              </p>
              <a href="#" class="btn">Read More</a>
            </div>
  
            <div class="services-content">
              <i class='bx bx-bar-chart-alt'></i>
              <h3>Back-End</h3>
              <p>Creating and managing APIs, and handling databases.</p>
              <a href="#" class="btn">Read More</a>
            </div>
  
            <div class="services-content">
              <i class='bx bx-search-alt-2'></i>
              <h3>Web-Optimization</h3>
              <p>Ensuring fast loading speeds and smooth user experiences.</p>
              <a href="#" class="btn">Read More</a>
            </div>
          </div>
          <span class="numberpage">3</span>
          <!--next button  -->
          <span class="nextprev-btn" data-page="turn-2">
            <i class='bx bx-chevron-right'></i>
          </span>
        </div>
  
  
  
        <!-- page4:skills -->
        <div class="page-back">
          <h1 class="title">My Skills</h1>
  
          <div class="skills-box">
            <div class="skills-content">
              <h3>Front-End</h3>
              <div class="content">
                <span> <i class='bx bxl-html5'></i> HTML</span>
                <span> <i class='bx bxl-css3'></i> CSS</span>
                <span> <i class='bx bxl-javascript'></i> jS</span>
                <span> <i class='bx bxl-react'></i> React</span>
                <span><i class='bx bxl-angular'></i>Angular</span>
                <span> <i class='bx bxl-bootstrap'></i> Bootstrap</span>
                <span><i class='bx bxl-tailwind-css'></i> Tailwind</span>
  
              </div>
  
            </div>
  
            <div class="skills-content">
              <h3>Back-End</h3>
              <div class="content">
                <span> <i class='bx bxl-python'></i> Python</span>
                <span><i class='bx bxl-nodejs'></i> Node</span>
                <span><i class='bx bxl-mongodb'></i> MongoDB</span>
                <span><i class='bx bxl-java'></i> Java</span>
              </div>
  
            </div>
  
            <div class="skills-content">
              <h3>UI/UX Design</h3>
              <div class="content">
                <span><i class='bx bxl-figma'></i> Figma</span>
              </div>
  
            </div>
  
  
          </div>
          <span class="numberpage">4</span>
          <!--prev button  -->
          <span class="nextprev-btn back" data-page="turn-2">
            <i class='bx bx-chevron-left'></i>
          </span>
        </div>
  
      </div>
      <!-- ------------------------------------------------------------------------------------------------------------------------------------------- -->
      <!-- page 5 & 6 -->
      <div class="book-page page-right turn" id="turn-3">
        <!-- page5: Latest projects -->
        <div class="page-front">
          <h1 class="title">Latest project</h1>
          <div class="portfolio-box">
            <div class="img-box">
              <img src="latest_project.jpg" alt="Latest Project">

  
            </div>
  
            <div class="info-box">
              <div class="info-title">
                <h3>Parallax Webpage</h3>
                <a href="https://67435391969e40cf582ea38f--parallax007.netlify.app/">Live Preview <i class='bx bx-link-external'></i> </a>
              </div>
              <p><b>Tech Used:<em>HTML5,CSS,BootStrap,JS</em></b></p>
              <p>A visually engaging parallax webpage. It features smooth
                scrolling animations, layered backgrounds moving at different speeds, and a responsive layout for an
                immersive user experience.</p>
            </div>
  
            <div class="btn-box">
              <a href="#" class="btn">Soure Code</a>
              <a href="#" class="btn">More Project</a>
            </div>
  
          </div>
  
          <span class="numberpage">5</span>
          <!--next button  -->
          <span class="nextprev-btn" data-page="turn-3">
            <i class='bx bx-chevron-right'></i>
          </span>
  
        </div>
        <!-- page6: Contact Me -->
        <div class="page-back">
          <h1 class="title">Contact Me!</h1>
          <div class="contact-box">
            <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
              <input type="text" formControlName="name" class="field" placeholder="Full Name" required>
              <input type="email" formControlName="email" class="field" placeholder="Email Address" required>
              <textarea formControlName="message" cols="30" rows="10" class="field" placeholder="Your Message" required></textarea>
        
              <input type="submit" class="btn" value="Send Message">
            </form>
          </div>
          <span class="numberpage">6</span>
        
          <!-- Prev button -->
          <span class="nextprev-btn back" data-page="turn-3">
            <i class='bx bx-chevron-left'></i>
          </span>
        
          <a href="#" class="back-profile">
            <p>Profile</p>
            <i class='bx bxs-user'></i>
          </a>
        </div>
      </div>
  
    </div>
  </div>
</div>